<div class="ui segment">
  <h4 class="ui header">
    <i class="file icon"></i>
    <div class="content">
      {{story.code}}
      {{#each story.tags as |tag|}}
        <div class="ui {{tag.color}} label">{{tag.title}}</div>
      {{/each}}
      <div class="ui label">{{story.developer.identity}}</div>
    </div>
  </h4>
</div>
{{yield}}