<div class="ui icon message">
  <i class="table icon"></i>
  <div class="content">
    <div class="header">
      models\Project
    </div>
    <p>Création d'un nouvel objet.</p>
  </div>
</div>
<form class="ui form" method="POST">
  <div class="field">
    <label>Nom</label>
    <Input type="text" name="name" placeholder="Nom du projet" @value={{this.name}}/>
  </div>
  <div class="field">
    <label>Descriptif</label>
    <Textarea name="description" placeholder="Descriptif du projet" @value={{this.description}}/>
  </div>
  <div class="two fields">
    <div class="field">
      <label>Date de début</label>
      <Input type="date" name="startDate" placeholder="JJ/MM/AAAA" @value={{this.startDate}}/>
    </div>
    <div class="field">
      <label>Date de fin</label>
      <Input type="date" name="dueDate" placeholder="JJ/MM/AAAA" @value={{this.dueDate}}/>
    </div>
  </div>
  <div class="ui segment">
    <button class="ui labeled green icon button" {{action "save" this.name this.description this.startDate
                                                          this.dueDate}}>
      <i class="check icon"></i>
      Valider
    </button>
    <button class="ui labeled icon button" {{action "cancel"}}>
      <i class="times circle outline icon"></i>
      Annuler
    </button>
  </div>
</form>
{{outlet}}